numpy
opencv-python
face-recognition
dlib
ultralytics
tensorflow
keras
librosa
scikit-learn
paho-mqtt
pyttsx3
google-genai
streamlit
pandas
pillow
pygame
sounddevice
joblib
scapy
vosk
yt-dlp
flask
requests
